
.card{
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card_label {
  width: max-content;
  color: #38015c;
  font-size: 13px;
  border-bottom: .5px solid #38015c;
  margin: 3px 0;
}

.username {
  font-size: 12px;
}

.star {
  color: gold;
}

.date {
  font-size: 12px;
}
.username b, .card h4, .review{
  font-size: 13px;
 
}

